*{
    margin: 0;
    padding: 0;  
}

body{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
 

/* section{
    height: 10rem;
    padding-top: 8%;
    margin: 0%;
} */



.logonav{
    padding-top: 0%;
    margin-left: 0%;
    width: 2rem;
}

.navbar{
    background-color: #4682B4;
    background-image: url("./images/cielo3.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:right;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.45);
    width: 100%; 
    z-index:1000;
}

.nav-link{
    color:rgb(3, 3, 104) !important ;
    color: azure;
    text-shadow: 0 0 5px rgb(255, 255, 255),0 0 5px rgb(255, 255, 255),
    0 0 5px rgb(17, 138, 207),0 0 5px rgb(17, 138, 207) !important ;
    font-size: 18px !important;
    
}

.nav-item{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 30%;
    color:rgb(3, 3, 104);
    
}

.nav-item :hover{
    transform: scale(1.2);
    color: azure;
    text-shadow: 0 0 5px rgb(17, 138, 207),0 0 5px rgb(17, 138, 207),
    0 0 5px rgb(17, 138, 207),0 0 5px rgb(17, 138, 207),
    0 0 5px rgb(17, 138, 207),0 0 5px rgb(17, 138, 207),
    0 0 5px rgb(17, 138, 207),0 0 5px rgb(17, 138, 207);   
}

.carousel-item img{
    height: 32rem;
    width: 100%;
    padding-top: 1rem;
}

.img_principal{
    height: 32rem;
    width: 100%;
    padding-top: 1rem;
}

.redes{
    font-size: 104%;
}

.container-fluid-carousel{
    width: 98%;
    margin-left: 1%;
    padding-top: 0%;
}

.images{
    width: 100%;
    height: 30rem;
}

.sueno{
    padding-top: 7rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1%;
}

.donde-estamos{
    padding-top: 6%;    
}

.mapa{
    height: 33rem;
    display: flex;
    justify-content: center;
    grid-row-start: 2;
    grid-row-end: 2;
}
.pag_nosotros{
    padding-top: 6%;
}

.imagenes-nosotros{
    width: 46rem;
    height: 30rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

h3 { 
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem ;  
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 90%;
    font-weight: bold;
}

.cursos {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem; 
    padding-top: 6%;
}
    
.footer_logos :hover{
        transform: scale(1.2);
        transition: 30ms;
        color: azure;}
    
.footer_logos{
        text-decoration: none;
        font-size: 100%;
        font-weight: bold;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 70%;
        padding-bottom: 1%;
    }
    
.footer_logos a{
    color:rgb(3, 3, 104);
}

footer{
        background-color: rgba(28, 93, 136, 0.452); 
        width: 100%;  
     }

.titulo-aeronaves{
    padding-top: 6%;
    margin-left: 1%;
}

.container-fluid-aeronaves{
    padding-top: 1%;    
    height: 84%;
    width: 98%;
    margin-left: 1%;
}

.container-fluid-nosotros{
    padding-top: 1%;    
    height: 84%;
    width: 98%;
    margin-left: 1%;
}



.container-fluid-cursos{
    padding-top: 1%;    
    height: 84%;
    width: 98%;
    margin-left: 1%;
}




/* MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE  */
/* LAPTOP LAPTOP LAPTOP LAPTOPLAPTOP LAPTOPLAPTOP LAPTOPLAPTOP LAPTOPLAPTOP LAPTOPLAPTOP LAPTOPLAPTOP LAPTOPLAPTOP LAPTOPLAPTOP LAPTOPLAPTOP LAPTOPLAPTOP LAPTOPLAPTOP LAPTOP */
@media only screen and (max-width: 1300px){


    .logonav{
        padding-top: 0%;
        margin-left: 0%;
        width: 2rem;
    }
    
    .navbar{
        background-image:url("./images/cielo3.jpg") ;
        background-color: #4682B4;
        background-repeat: no-repeat;
        background-size:cover;
        background-position:right;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.45);
        width: 100%; 
        z-index:1000;
    }
    
    .nav-link{
        color: azure;
        text-shadow: 0 0 5px rgb(255, 255, 255),0 0 5px rgb(255, 255, 255),
        0 0 5px rgb(17, 138, 207),0 0 5px rgb(17, 138, 207) !important ;
        font-size: 18px !important;
        
    }
    
    .nav-item{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        padding-left: 15%;
        color:rgb(3, 3, 104);
        
    }
    
    .nav-item  :hover{
        transform: scale(1.2);
        color: azure;
        text-shadow: 0 0 5px rgb(17, 138, 207),0 0 5px rgb(17, 138, 207),
        0 0 5px rgb(17, 138, 207),0 0 5px rgb(17, 138, 207),
        0 0 5px rgb(17, 138, 207),0 0 5px rgb(17, 138, 207),
        0 0 5px rgb(17, 138, 207),0 0 5px rgb(17, 138, 207);   
    }

.titulo-aeronaves{
    padding-top: 6rem;
}

section{
    padding-top: 6rem;
}

.carousel-item img{
    height: 20rem;
}

.img_principal{
    height: 20rem;
}

.sueno{
    padding-top: 9%;
}

.container-fluid-carousel{
    width: 96%;
    margin-left: 2%;
}

.container-fluid-aeronaves{
    width: 96%;
    margin-left: 2%;
}

.container-fluid-nosotros{
    width: 96%;
    margin-left: 2%;
}

.pag_nosotros{
    padding-top: 9%;
}

.images{
    height: 20rem;
}

.imagenes-nosotros{
    width: 100%;
    height: 20rem;
}

.donde-estamos{
    padding-top: 9%;
}



}



/* MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE  */
/* TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET  */

@media only screen and (max-width: 768px){


    .container-fluid-carousel{
        width: 96%;
        margin-left: 2%;
    }
    

    .container-fluid-aeronaves{
        width: 96%;
        margin-left: 2%;
    }
    
    .container-fluid-nosotros{
        width: 96%;
        margin-left: 2%;
    }
    

    
.navbar-brand{
 display: flex;
 flex-wrap: wrap;
}

.carousel-item img{
    
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}

.titulo-principal{
    font-size: 1rem;
    width: 95%;
    }


.img_principal{
padding-top: 1rem;
    width: 100%;
    height: 20rem;

}

.images-carrete{
    width: 100%;
    height: 27rem;
}

.container-fluid-cursos{
    padding-top: 3%;
}


.titulo-aeronaves{
    padding-top: 4rem
}

    
.images{
    width: 100%;
    height: 54%;  
}

.imagenes-nosotros{
    width: 100%;
    height: 14rem; 
}



.mainUbicacion{
    padding-top:16%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 0%;
    
}

.donde-estamos{
grid-row-start: 2;
 grid-row-end: 3;
 padding-top: 1rem;
}

.mapa{
    grid-row-start: 3;
    grid-row-end: 4;
   width: 100%;
}

.pag_nosotros{
    padding-top: 4rem;
}


section{
    padding-top: 8rem;
}

.images{
    height: 17rem;
}

.aeronaves{
    padding: 0%;
    height: 67rem;
    margin: 0%;
}



}

@media only screen and (max-width: 400px){

    .sueno{
        padding-top: 7rem;
    }

    .container-fluid-carousel{
        width: 92%;
        margin-left: 4%;
        height: 37rem;
    }

.titulo-aeronaves{
    padding-top: 6rem;
}

    .container-fluid-aeronaves{
        width: 92%;
        margin-left: 4%;
    }
    
    .pag_nosotros{
        padding-top: 7rem;
    }

    .container-fluid-nosotros{
        width: 92%;
        margin-left: 4%;
    }


}

/* MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE MEDIA QUERIE  */
/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE  */
@media only screen and (max-width: 320px){
  
.sueno{
    padding-top: 42%;
}

.titulo-aeronaves{
    padding-top: 8rem;
}

.img_principal{
    height: 15rem;
}

.container-fluid-carousel{
    width: 92%;
    margin-left: 4%;
    height: 28rem;
}

.container-fluid-aeronaves{
    width: 92%;
    margin-left: 4%;
}

.container-fluid-nosotros{
    width: 92%;
    margin-left: 4%;
}

.titulo-cursos{
    padding-top: 9rem;
}

.images{
    height: 13rem;
}
.donde-estamos{
    padding-top: 1%;
}

.imagenes-nosotros{
    height: 10rem;
    width: 100%;
}

.pag_nosotros{
    padding-top: 8rem;
}


}



