
.img_principal{
    height: 32rem;
    width: 100%;
    padding-top: 1rem;
}

.container-fluid-carousel{
    width: 98%;
    margin-left: 1%;
    padding-top: 0%;

        img{
            height: 32rem;
            width: 100%;
            padding-top: 1rem;
        }

        }

.sueno{
    padding-top: 7rem;
    font-family: $font;
    font-size: $f-size;
    font-weight: bold;
    margin-left: 1%;
}